#viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.imagecontainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.imagecontainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.imagecontainer .pagetitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9rem;
  opacity: 1;
}
.textcontainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10rem 20rem;
}
.about,
.services,
.contact {
  width: 100vw;
  overflow: hidden;
}
.about .textcontainer > * {
  margin: 1rem;
}
