@mixin mobile {
  @media (max-width: 776px) {
    @content;
  }
}
.imagecontainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.imagecontainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.imagecontainer .pagetitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9rem;
  opacity: 1;
  @include mobile {
    font-size: 2rem;
  }
}
.textcontainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}
.about,
.services,
.contact {
  width: 100vw;
  overflow: hidden;
}
.about .textcontainer > * {
  margin: 1rem;
}
