* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1.15em;
  font-family: "Noto Serif Display", serif;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background: #080808;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

.one {
  z-index: -1;
}

.two {
  z-index: 10;
}

.fullscreenwrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0 !important;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.fullscreen > * {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.fullscreen #about {
  top: 0;
  left: 0;
  -webkit-transform: none;
  transform: none;
}

.fake {
  opacity: 1;
}

/* Hide scrollbar for IE, Edge and Firefox */
.textwrapper {
  position: absolute;
}

.text-wrapper {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hometitle {
  color: antiquewhite;
  font-size: 5rem;
  text-align: center;
}

.ml6 {
  font-weight: 900;
  font-size: 3.3em;
}

@media (max-width: 776px) {
  .ml6 {
    font-size: 2rem;
  }
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
}

@media (max-width: 776px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.itemcontainer {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item {
  width: 320px;
  height: 200px;
  position: relative;
}

.item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.itemcontainer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  line-height: 0;
  width: 320px;
}
.imagecontainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.imagecontainer img {
  width: 100%;
  height: 100%;
}

.imagecontainer .pagetitle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 9rem;
  opacity: 1;
}

@media (max-width: 776px) {
  .imagecontainer .pagetitle {
    font-size: 2rem;
  }
}

.textcontainer {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 2rem;
}
#item {
  z-index: 999;
}
.about,
.services,
.contact {
  width: 100vw;
  overflow: hidden;
}

.about .textcontainer > * {
  margin: 1rem;
}

.homelink {
  width: 100vw;
  height: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  mix-blend-mode: difference;
}

.homelink a {
  color: white;
  text-decoration: underline;
  text-align: center;
  font-size: 1.8rem;
}

@media (max-width: 776px) {
  .homelink a {
    font-size: 1rem;
  }
}

.scrolldown {
  width: 100vw;
  height: 20vh;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  mix-blend-mode: overlay;
}

.scrolldown h1 {
  color: white;
  text-decoration: underline;
  text-align: center;
  font-size: 1.8rem;
}

@media (max-width: 776px) {
  .scrolldown h1 {
    font-size: 1rem;
  }
}
