* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1.15em;
  font-family: "Noto Serif Display", serif;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background: #080808;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}
#viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.hometitle {
  position: absolute;
  color: antiquewhite;
  font-size: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.ml6 {
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
.fullscreen {
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.fullscreen > * {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.itemcontainer {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.item {
  width: 320px;
  height: 200px;
  position: relative;
}
.item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.bigimage {
  z-index: 300;
  cursor: none;
}
.itemcontainer .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  line-height: 0;
  width: 320px;
}
.imagecontainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.imagecontainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.imagecontainer .pagetitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9rem;
  opacity: 1;
}
.textcontainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10rem 20rem;
}
.about,
.services,
.contact {
  width: 100vw;
  overflow: hidden;
}
.about .textcontainer > * {
  margin: 1rem;
}
